# ==================== #
# By: Lmao stupid Cion #
# ==================== #

# <= Main => #
*.iml
*.iws
.zed
.idea
.gitattributes
  
# <= Gradle =>
.gradle
build
gradle
gradlew
gradlew.bat
  
# <= Maven =>
target/